body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.center-box {
    width: 70%;
	height: 50%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.special-heading {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    background: linear-gradient(45deg, #ff6b6b, #f06595, #cf5e88, #a4508b, #5f0a87);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin: 0 0 20px;
    position: relative;
    text-align: center;
    animation: fadeInText 2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.special-heading::before, .special-heading::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #333;
    bottom: -10px;
}

.special-heading::before {
    left: 0;
    width: 0;
    animation: slideInLeft 1s forwards 1s; /* Verzögerte Animation */
}

.special-heading::after {
    right: 0;
    width: 0;
    animation: slideInRight 1s forwards 1s; /* Verzögerte Animation */
}

@keyframes fadeInText {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideInLeft {
    from { width: 0; }
    to { width: 50%; }
}

@keyframes slideInRight {
    from { width: 0; }
    to { width: 50%; }
}

.app-icon {
    position: relative;
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.app-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.expand-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: width 0.5s ease, height 0.5s ease;
    z-index: -1;
}
