body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #E8E8E8, #CECECE); 
}

.navbar {
    background-color: #333;
    width: 100%;
    height: 60px; /* Reduced height for smaller screens */
    top: 0;
    right: 0;
    left: 0;
    border: none;
    position: fixed;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

.navbar-logo {
    width: 60px; /* Adjusted for smaller navbar */
    height: 60px; /* Adjusted for smaller navbar */
    background-image: url('Bilder/Erde-Logo.png'); 
    background-size: cover;
    background-position: center; 
    border-radius: 50%; 
}

.navbar-menu {
    list-style: none;
    display: flex;
    font-size: 25px; /* Adjusted for smaller screens */
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.navbar-item {
    position: relative;
}

.navbar-item a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    margin: 0 10px;
}

.navbar-item a:hover,
.navbar-item.dropdown:hover > a {
    background-color: #9B9B9B;
    border-radius: 15px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #575757;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    border-radius: 15px;
}

.dropdown-menu a {
    padding: 10px 15px;
    color: white;
    background-color: #575757;
    border-radius: 15px;
}

.dropdown-menu a:hover {
    background-color: #9B9B9B;
}
.navbar-item.dropdown:hover .dropdown-menu {
    display: block;
}

#quiz-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
	height: auto;
	margin-top: 150px; /* Add margin at the bottom to separate from map */
}
#title {
	margin-top: 200px;
	text-decoration: underline;
}
#flag-container {
    margin: 20px 0;
}

#flag-image {
    width: 300px; /* Increase the width of the flag image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add some space below the flag */
}

#options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
/* Style for each option button */
#options-container button {
    font-size: 20px; /* Increase the font size of the options */
    padding: 15px 25px; /* Increase the padding for larger buttons */
    cursor: pointer;
    border: 1px solid #ccc; /* Add a border to the buttons */
    border-radius: 5px; /* Rounded corners for the buttons */
	background-color: #3498db;
	color: white;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

#options-container button:hover {
    background-color: #0F5D91; /* Light gray background on hover */
}

/* Style for the toggle map button */
#toggleMapButton {
    font-size: 18px; /* Increase the font size of the button */
    padding: 10px 20px; /* Increase the padding for the button */
    margin-top: 20px; /* Add some space above the button */
    cursor: pointer;
    border: 1px solid #ccc; /* Add a border to the button */
    border-radius: 5px; /* Rounded corners for the button */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    background-color: blue; /* Green background color */
    color: white; /* White text color */
}

#toggleMapButton:hover {
    background-color: #45a049; /* Darker green background color on hover */
}

/* Message Styling */
#message {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(0, 128, 0, 0.8); /* Green background */
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Drop shadow */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
}

#message.show {
    opacity: 1; /* Show message with smooth transition */
}
#toggleMapButton {
	background-color: green;
	margin-top: 20px;
}

#map-container {
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* 1.5-second transition duration when appearing */
    transition-delay: 0s; /* Delay before the transition starts when appearing */
	text-align: center;
}

#map-container.show {
    opacity: 1;
    transition: opacity 0.8s ease-in-out; /* 0.3-second transition duration when disappearing */
    transition-delay: 0.5s; /* No delay when disappearing */
}

#world-map {
    max-width: 100%;
    height: auto;
}
.highlight {
    fill: red; /* Change color to highlight */
    transition: fill 0.3s ease-in-out; /* Smooth transition for color change */
}