/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background:  #CECECE; 
}
.navbar {
    background-color: #333;
    width: 100%;
    height: 80px; /* Reduced height for smaller screens */
    top: 0;
	display: flex;
	align-items: center;
    right: 0;
    left: 0;
    border: none;
    position: fixed;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

.navbar-logo {
    width: 58px; 
    height: 58px; 
    background-image: url('Bilder/Erde-Logo.png'); 
    background-size: cover;
    background-position: center; 
    border-radius: 50%; 
}

.navbar-menu {
    list-style: none;
    display: flex;
    font-size: 25px; /* Adjusted for smaller screens */
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.navbar-item {
    position: relative;
}

.navbar-item a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    margin: 0 10px;
}

.navbar-item a:hover,
.navbar-item.dropdown:hover > a {
    background-color: #9B9B9B;
    border-radius: 15px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #575757;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    border-radius: 15px;
}

.dropdown-menu a {
    padding: 10px 15px;
    color: white;
    background-color: #575757;
    border-radius: 15px;
}

.dropdown-menu a:hover {
    background-color: #9B9B9B;
}
.navbar-item.dropdown:hover .dropdown-menu {
    display: block;
}

#title {
    font-size: 45px;
    text-decoration: underline;
    text-align: center;
}
#flag-container {
    margin: 20px 0;
    text-align: center;
}

#flag-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 5px;
}

#options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#options-container button {
    padding: 20px 30px;
    font-size: 18px;
    background-color: #3498db; /* Blue */
    border: none;
    color: white;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#options-container button:hover {
    background-color: #0F5D91;
}

#toggleMapButton {
    font-size: 16px;
    padding: 20px 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: blue;
    color: white;
}

#toggleMapButton:hover {
    background-color: #A44797;
}

#message {
    position: relative;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
    font-size: 18px;
    font-weight: bold;
	max-width: 350px;
	width: auto;
    display: none;
    margin: 10px auto 0 auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#message.show {
    opacity: 1;
    display: block;
}
#toggleMapButton {
    background-color: #CB7EC0;
    margin-top: 20px;
    color: black;
    font-weight: bold;
}

#map-container {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0s;
    text-align: center;
    margin-top: 20px;
	margin-bottom: 20px;
}

#map-container.show {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
    transition-delay: 0.5s;
}

#world-map {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
.highlight {
    fill: red;
    transition: fill 0.3s ease-in-out;
}

/* Footer styling */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.footer-text1 {
    font-size: 13px;
    line-height: 18px;
}

.footer-text1 a {
    text-decoration: none;
    color: white;
}

.footer-text2 {
    font-size: 10px;
    line-height: 18px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 50000000000;
    background-color: #f00;
    pointer-events: none;
    animation: confetti-fall 2s linear forwards;
}

@keyframes confetti-fall {
    0% {
        transform: translateY(-20vh) rotateZ(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotateZ(720deg);
        opacity: 0;
    }
}

.main-grid {
    display: grid;
    grid-template-columns: auto auto auto; /* Left column takes remaining space, right column adjusts to content */
    justify-content: center; /* Center content horizontally within the grid */
    max-width: 1000px; /* Maximum width of the grid container */
    margin: 155px auto 50px auto; /* Margin for top spacing */
    padding: 0 20px;
}

#quiz-container {
    margin: 0 auto 0 auto;
    max-width: 1000px; /* Maximum width of the quiz content */
    text-align: center; /* Center text and inline elements */
    display: flex;
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

#current-score {
    padding: 20px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 7px;
    background-color: #007BFF;
}
#high-score {
    margin-top: 10px;
    border: 2px solid;
    font-weight: bold;
    padding: 20px;
    z-index: 100000000;
    border-radius: 7px;
    background-color: #FFD700;
}
.side-container {
    display: flex;
	justify-self: end;
    height: auto;
    flex-direction: column;
    align-self: start;
    width: auto;
    margin-left: 20px;
}

.score-container {
    font-size: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 15px;
    border-radius: 8px;
    position: relative;
}

#current-score,
#high-score {
    z-index: 100000000;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

#current-score span,
#high-score span {
    font-weight: bold;
    z-index: 100000000;
}

#fire-background {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    background-image: url('fire.gif');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -9999;
    display: none;
}

#high-score.wiggle {
    animation: wiggle 1s ease-in-out;
}

@keyframes wiggle {
    0%, 100% {
        transform: rotate(0deg);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate(10deg);
    }
    20%, 40%, 60%, 80% {
        transform: rotate(-10deg);
    }
}

#highScore.grow {
    color: #FF0003;
    transform: scale(2.0);
    display: block;
}

#highScore.grow + #fire-background {
    display: block;
}

/* Portrait mode for iPhone 15 */
@media only screen 
  and (device-width: 393px)  /* Standard portrait width for iPhones */
  and (device-height: 852px) /* Standard portrait height for iPhones */
  and (-webkit-device-pixel-ratio: 3) {
	.navbar {height: 90px;
	display: flex;
	align-items: center;}
    .navbar-container {
        justify-content: center;
        height: 90px;
        display: flex; /* Added display flex for flexbox layout */
        align-items: center;
        padding: 0 20px;
    }
    .navbar-logo {
        width: 85px;
        height: 85px;
    }
    .navbar-menu {
        font-size: 22px;
    }
	.main-grid {margin: 0 auto 20px auto;}
	.side-container {
    margin-left: 0;
}
    #title {
        font-size: 30px;
    }
    #options-container button {
        font-size: 20px;
        padding: 20px 30px;
    }
    #toggleMapButton {
        font-size: 14px;
        padding: 8px 12px;
    }
}

/* Landscape mode for iPhone 15 landscape */
@media only screen 
  and (device-width: 929px)  /* Standard landscape width for iPhones */
  and (device-height: 400px) /* Standard landscape height for iPhones */
  and (-webkit-device-pixel-ratio: 3) {
	.navbar {height: 90px;
	display: flex;
	align-items: center;}
    .navbar-container {
        justify-content: center;
		height: 90px;
		align-items: center;
    }
    .navbar-logo {
        width: 85px;
        height: 85px;
    }
    .navbar-menu {
        font-size: 26px;
    }
	.main-grid {margin: 0 auto 20px auto;}
	.side-container {
    margin-left: 0;
}
    #title {
        font-size: 30px;
    }
    #options-container button {
        font-size: 14px;
        padding: 15px 20px;
    }
    #toggleMapButton {
        font-size: 14px;
        padding: 8px 12px;
    }
}