-var elem = `\n\t<div class="s s`
-var end = ``
-var n = 24
-for(var i = 0; i < n; i++){
-elem = elem + i + `">\n ${"\t".repeat(i+1)}<div class="s s`    
-}
-elem = elem + i + '">'
-for(var k = n+1; k > 0; k--){
-end +=`\n${"\t".repeat(k-1)}</div>`
-}
-end += "\t\n"
-elem = elem + end

.wrapper !{elem}


