/* styles.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
	-webkit-overflow-scrolling: touch;
	-webkit-user-select: none; /* Prevent text selection */
	-webkit-touch-callout: none; /* Disable long-press action (share menu) */
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
	overflow-x: hidden;
}

.heading {
	margin: 50px auto 10px auto;
	font-family: 'Nerko One', sans-serif;
	font-size: 50px;
}

/* Main container for the game */
#game-container {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 1300px;
}

/* Question area */
#question {
    font-size: 30px;
	font-family: "Montserrat", cursive;
	font-weight: 400;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Map container */
#map {
    border: 2px solid #ddd;
    border-radius: 10px;
	width: 100%;
	margin: 0 auto 20px auto;
    height: 500px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* Feedback message styling */
#feedback {
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
}

/* Score and Highscore styling */
#score-container {
    display: flex;
    justify-content: center;
    font-size: 18px;
	gap: 30px;
    margin-top: 20px;
}

#score, #highscore {
    font-weight: bold;
	 font-size: 20px;
  border-radius: 7px;
    font-weight: bold;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add box-shadow */
    position: relative;
	transition: transform 0.5s ease-in-out, box-shadow 0.3s ease;
}

#score {
  background-color: #007BFF;
   padding: 15px 20px;
   box-shadow: 0 5px 0 #0056b3;
}

#highscore {
 background-color: #FFD700;
  padding: 15px 20px;
box-shadow: 0 5px 0 #c0a500;
  z-index: 100;
}

#continent-selector {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 25px;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	background-color: #FFA07A;
    color: black;
	font-weight: bold;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
	box-shadow: 0 5px 0 #F08080; /* Light Coral shadow */
     margin: 10px auto 0 auto;
    transition: background-color 0.3s;
}
#continent-selector option {
	padding: 10px;
}

#continent-selector:active {
		-webkit-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-box-shadow: 0 2px 0 #F08080;
    box-shadow: 0 2px 0 #F08080;
}
#continent-selector:focus {
	outline: none;
}

@keyframes wiggleAndGlow {
    0% {
        transform: rotate(0deg) scale(1);
        box-shadow: 0 0 10px #ffd700;
    }
    25% {
        transform: rotate(-5deg) scale(1.2);
        box-shadow: 0 0 20px #ffd700, 0 0 30px #ffd700;
    }
    50% {
        transform: rotate(5deg) scale(1.2);
        box-shadow: 0 0 20px #ffd700, 0 0 30px #ffd700;
    }
    75% {
        transform: rotate(-5deg) scale(1.2);
        box-shadow: 0 0 20px #ffd700, 0 0 30px #ffd700;
    }
    100% {
        transform: rotate(0deg) scale(1);
        box-shadow: 0 0 10px #ffd700;
    }
}

#highscore.animate {
    animation: wiggleAndGlow 1s ease-in-out;
}


/* Footer Styling */
.footer {
  background: linear-gradient(to right, #003c4e, #00bcd4); /* Blue gradient */
  color: #fff;
  padding: 20px 0;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  display: flex;
  margin-top: 900px;
  justify-content: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  position: relative; /* Ensure positioning context for pseudo-element */
  z-index: 1; /* Ensure content is above the animation */
}

.footer-logo {
  margin-right: 40px; /* Space between logo and footer content */
}

.footer-logo img {
  width: 120px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out; 
}

.footer-logo img:hover {
	transform: scale(1.05);
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center all items horizontally */
}

.footer-social {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer-social a {
  color: #fff;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

.footer-social a:hover {
  transform: scale(1.2); /* Hover scaling effect */
}

.footer-copyright {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

/* Animation - Floating Circles */
.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255,255,255,0.15) 20%, transparent 20%) center/150px 150px;
  opacity: 0.5;
  animation: animateBg 8s linear infinite;
  z-index: 0; /* Ensure it's behind the footer content */
}

@media only screen and (max-width: 810px) and (max-height: 1080px) and (orientation: portrait) {
	.heading {
		margin: 0px auto 10px auto;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #333;
	}
	#game-container {
		background-color: #333;
	}
	.heading {
		color: white;
	}
	#question {
		color: white;
	}
}
