body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;


  height: 100vh;
}
.heading {
	text-align: center;
	font-size: 45px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #e53935; /* Red color */
}
.question {
	color: red;
	text-align: center;
	width: 100%;
}
#question-container {
  background-color: white;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.scoreboard {
	display: flex;
    justify-content: center;
    gap: 30px;
	width: 35;
  padding: 20px 30px;
  margin: 10px auto 0 auto;
  color: black;
  border-radius: 7px;
}


.score, .highscore {
    font-size: 20px;
  border-radius: 7px;
    font-weight: bold;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add box-shadow */
    position: relative;
	transition: transform 0.5s ease-in-out, box-shadow 0.3s ease;
}
.score {
  background-color: #007BFF;
   padding: 15px 20px;
   box-shadow: 0 5px 0 #0056b3;
}
.highscore {
 background-color: #FFD700;
  padding: 15px 20px;
box-shadow: 0 5px 0 #c0a500;
  z-index: 100;
}
.score span, .highscore span {
    display: inline-block;
    transition: transform 0.3s ease;
}

.score span.animate, .highscore span.animate {
    transform: scale(1.2);
}

.scoreboard p {
    margin: 5px 0;
}
.btn-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

button {
  font-size: 16px;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#feedback-message { margin: 10px 0; }

.next-btn {
  display: none;
  margin-top: 20px;
  background-color: #28a745;
}
