body {
    background: linear-gradient(to right, #E8E8E8, #CECECE); /* Gradient from white to light gray */
    width: 100%;
    height: 100%;
	padding: 0;
	margin: 0;
    font-family: sans-serif;
}

.navbar {
    background-color: #333;
    width: 100%;
    height: 60px; /* Reduced height for smaller screens */
    top: 0;
    right: 0;
    left: 0;
    border: none;
    position: fixed;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

.navbar-logo {
    width: 58px; /* Adjusted for smaller navbar */
    height: 58px; /* Adjusted for smaller navbar */
    background-image: url('Bilder/Erde-Logo.png'); 
    background-size: cover;
    background-position: center; 
    border-radius: 50%; 
}

.navbar-menu {
    list-style: none;
    display: flex;
    font-size: 25px; /* Adjusted for smaller screens */
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.navbar-item {
    position: relative;
}

.navbar-item a {
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    margin: 0 10px;
}

.navbar-item a:hover,
.navbar-item.dropdown:hover > a {
    background-color: #9B9B9B;
    border-radius: 15px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #575757;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    border-radius: 15px;
}

.dropdown-menu-language {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
    margin-left: 10px;
    padding: 0;
    width: 200px;
    border-radius: 15px;
}
.dropdown-menu-language a {
    padding: 10px 15px;
    color: white;
    border-radius: 15px;
}

.navbar-item.dropdown:hover .dropdown-menu-language {
    display: block;
}
.dropdown-menu a {
    padding: 10px 15px;
    color: white;
    background-color: #575757;
    border-radius: 15px;
}

.dropdown-menu a:hover {
    background-color: #9B9B9B;
}
.navbar-item.dropdown:hover .dropdown-menu {
    display: block;
}
h1 {
    font-size: 45px;
}
.main-grid {
    display: grid;
    grid-template-columns: 1fr auto; /* Left column takes remaining space, right column adjusts to content */
    justify-content: center; /* Center content horizontally within the grid */
    max-width: 1200px; /* Maximum width of the grid container */
    margin: 80px auto 0 auto; /* Margin for top spacing */
}

.container-flex {
	margin: 0 auto 0 auto;
    max-width: 800px; /* Maximum width of the quiz content */
    text-align: center; /* Center text and inline elements */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

#current-score {
	padding: 20px;
	font-weight: bold;
	border: 2px solid;
	border-radius: 7px;
	background-color: #007BFF;
}
#high-score {
	margin-top: 10px;
	border: 2px solid;
	font-weight: bold;
	padding: 20px;
	z-index: 100000000;
	border-radius: 7px;
	background-color: #FFD700;
}
.side-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
	flex-direction: column; /* Stack items vertically */
    align-self: start; /* Align side container to the top of its grid cell */
	width: auto;
	    margin-left: 20px;
}

.score-container {
	font-size: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 15px;
    border-radius: 8px;
    position: relative; /* Ensure relative positioning for absolute children */
}

#current-score,
#high-score {
	z-index: 100000000;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

#current-score span,
#high-score span {
    font-weight: bold;
	z-index: 100000000;
}

#fire-background {
    position: absolute;
    top: 0;
    left: 0;
	margin-bottom: 10px;
    width: 100%;
    height: 100%;
    background-image: url('fire.gif');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -9999;
    display: none; /* Initially hidden */
}

#high-score.wiggle {
    animation: wiggle 1s ease-in-out;
}

@keyframes wiggle {
    0%, 100% {
        transform: rotate(0deg);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotate(10deg);
    }
    20%, 40%, 60%, 80% {
        transform: rotate(-10deg);
    }
}

#highScore.grow {
    color: #FF0003;
    transform: scale(2.0);
	    display: block;

}

#highScore.grow + #fire-background {
    display: block; /* Show the fire background when highscore grows */
}

/* Additional styling for specific elements if needed */
#quizTitle {
    text-decoration: underline; /* Underline the quiz title */
    margin-bottom: 10px; /* Margin below the quiz title */
}



button#languageButton {
	position: relative;
	margin-right: 15px;
	right: 0;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button#languageButton:hover {
    background-color: #74C476;
}

button {
    padding: 20px 30px;
    font-size: 18px;
    background-color: #3498db; /* Blue */
    border: none;
    color: white;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0F5D91; /* Darker Blue */
}

.result-correct {
    color: #4CAF50; /* Green */
    animation: fadeIn 0.5s;
}

.result-incorrect {
    color: #FF5733; /* Red */
    animation: shake 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-50px); }
    50% { transform: translateX(50px); }
    75% { transform: translateX(-50px); }
    100% { transform: translateX(0); }
}


#question {
    font-size: 30px;
    margin-bottom: 20px;
}

#result {
    font-size: 20px;
    font-weight: bold;
}

.language-pic {height: 32px; width: 35px; }

/* Smaller font sizes for mobile */
@media (max-width: 480px) {
    .navbar-menu {
        font-size: 20px;
    }

    .navbar-item a {
        padding: 5px 10px;
    }

    h1 {
        font-size: 30px;
    }

    #question {
        font-size: 20px;
    }

    #result {
        font-size: 18px;
    }
}
#map {
    height: 400px;
    width: 100%;
    margin: 20px auto 50px auto;
}

footer {
    position: relative;
	left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
	margin-top: 20px;
    text-align: center;
}
/* Stil für die zweite Zeile im Footer */
.footer-text2 {
font-size: 10px;
line-height: 18px;
}
.footer-text1 a {
	text-decoration: none;
	font-size: 13px;
	color: white;
line-height: 10px;
}

canvas {
      position: absolute;
      top: 0;
      left: 0;
    }

    .confetti {
      position: absolute;
      width: 10px;
      height: 10px;
	  z-index: 50000000000;
      background-color: #f00; /* initial color */
      pointer-events: none;
      animation: confetti-fall 2s linear forwards;
    }

    @keyframes confetti-fall {
      0% {
        transform: translateY(-20vh) rotateZ(0deg);
        opacity: 1;
      }
      100% {
        transform: translateY(100vh) rotateZ(720deg);
        opacity: 0;
      }
    }
/* Portrait mode for iPhone 15 */
@media only screen 
  and (device-width: 393px)  /* Standard portrait width for iPhones */
  and (device-height: 852px) /* Standard portrait height for iPhones */
  and (-webkit-device-pixel-ratio: 3) {
	.navbar {height: 90px;
	display: flex;
	align-items: center;}
    .navbar-container {
        justify-content: center;
        height: 90px;
        display: flex; /* Added display flex for flexbox layout */
        align-items: center;
        padding: 0 20px;
    }
    .navbar-logo {
        width: 85px;
        height: 85px;
    }
    .navbar-menu {
        font-size: 22px;
    }
	.main-grid {margin: 115px 10px 20px 10px;}
	.side-container {
    margin-left: 0;
}
    #title {
        font-size: 30px;
    }
    #options-container button {
        font-size: 20px;
        padding: 15px 25px;
    }
    #toggleMapButton {
        font-size: 14px;
        padding: 15px 25px;
    }
}

/* Landscape mode for iPhone 15 landscape */
@media only screen 
  and (device-width: 852px)  /* Standard landscape width for iPhones */
  and (device-height: 393px) /* Standard landscape height for iPhones */
  and (-webkit-device-pixel-ratio: 3) {
	.navbar {height: 90px;
	display: flex;
	align-items: center;}
    .navbar-container {
        justify-content: center;
		height: 90px;
		align-items: center;
    }
    .navbar-logo {
        width: 85px;
        height: 85px;
    }
    .navbar-menu {
        font-size: 56px;
    }
	.main-grid {margin: 150px 10px 20px 10px;}
	.side-container {
    margin-left: 0;
}
    #title {
        font-size: 30px;
    }
    #options-container button {
        font-size: 14px;
        padding: 15px 20px;
    }
    #toggleMapButton {
        font-size: 14px;
        padding: 8px 12px;
    }
}